Source: ros-jade-nmea-msgs
Section: misc
Priority: extra
Maintainer: Eric Perko <eric@ericperko.com>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin, ros-jade-message-generation, ros-jade-std-msgs
Homepage: http://ros.org/wiki/nmea_msgs
Standards-Version: 3.9.2

Package: ros-jade-nmea-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-message-runtime, ros-jade-std-msgs
Description: The nmea_msgs package contains messages related to data in the NMEA format.
